body {
    background-color: #FFF5E4;
    color: #C98474;
    text-align: center;
    list-style-position: inside;
    font-size: large
}

h4,
p {
    text-align: left;
}

h1 {
    color: #874C62;
}

h2 {
    color: #967E76;
}

.sinif {
    color: #554994;
}